.pfpImageContainer {
  margin: var(--logoTop) 0 0 0;
  border-radius: 50%;
  background: white;
  border: 2px solid var(--pfpBorderColor);
}
.nickName {
  margin: 1.5vh 0 3.5vh 0;
}
.homeButton {
  border: var(--toggleBorder);
  color: var(--foreColor);
  background: var(--toggleBack);
  width: var(--buttonWidth);
  height: 58px;
  padding: 9px;
  margin: 8px;
  border-radius: 10px;
  text-align: center;
  font: normal normal 900 18px "noto-sans", serif;
  align-content: center;
  &:hover {
    color: var(--foreColor);
    text-decoration: none;
  }
  &:nth-of-type(1) {
    margin-top: 20px;
  }
}
.homeCont {
  height: fit-content;
  display: grid;
  justify-items: center;
}
