:root {
  /* TOGGLE */
  --transition: 0.4s;

  --toggleHeight: 25px;
  --toggleWidth: 60px;
  --toggleBack: rgba(50, 50, 50, 0.15);

  --ballSize: calc(var(--toggleHeight) + 10px);
  --ballSilde: calc(var(--toggleHeight) + 12px);
  --ballDist: -6px;
}
